<section class="integration-section pt-120 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="row">
            <div class="col-md-8">
              <h2>AR/VR Development</h2>
              <p>
                We offer complete AR/VR development for enterprise-level platforms, avatars and more with leading technologies and
                frameworks like ARtoolkit, Google-ARCore, and Apple AR Kit to help you leverage Web3 applications and immersive
                technologies.
              </p>
              
              <div>
                <h4>AR/VR Games</h4>
                <p>
                  IT Futurz develops innovative AR/VR games using the latest technologies and tools to provide an immersive gaming
                  experience. Our team of expert ar game developers creates immersive and interactive games that engage users, enhancing
                  their experience with captivating graphics and hyper-interactive features. They also ensure seamless performance and
                  compatibility across multiple devices, ensuring the games are accessible to all users.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="assets/other-images/IT-FUTURZ-SEMINAR.gif" alt="" class="w-100">
            </div>
          </div>

          <div class="section-heading pt-4">
            <h4>Virtual Tour Application</h4>
            <p>
              IT Futurz provides businesses with innovative virtual tour applications that allow users to explore and interact with a
              virtual environment. Using advanced 3d modeling and designing techniques and technologies, we design highly engaging 3D
              virtual tours that help users visualize and understand products, services, or physical spaces with 3D visualization and
              mixed realities. We offer complete customization and personalization with seamless integration options, allowing your
              enterprise to create an immersive brand experience.
            </p>
          </div>

          <div class="section-heading">
            <h4>AR Application</h4>
            <p>
              We use AR technology to create innovative web & mobile applications that enhance the user's interaction with augmented
              and mixed realities. We offer bespoke AR solutions customized to meet businesses and their customers. We have a
              dedicated expert-led team of AR developers who use interactive and immersive technologies to develop highly interactive
              and engaging AR applications that provide an unparalleled user experience.
            </p>
          </div>

          <div class="section-heading">
            <h4>Interactive Virtual Experiences</h4>
            <p>
              IT Futurz develops virtual 3D immersive experiences using advanced AR/VR technologies. We have a team of expert
              developers that creates engaging and informative virtual experiences that allow users to interact with and explore
              various products and services. We use the latest technologies and tools to develop highly responsive and dynamic virtual
              experiences that offer a unique and immersive user experience.
            </p>
          </div>

          <div class="section-heading">
            <h4>WebAR</h4>
            <p>
              We offer WebAR development services to help businesses showcase their products and services using AR technology on their
              website and mobile applications with 3D modeling and augmented reality. We use the latest AR technologies and tools to
              create highly immersive and modular WebAR experiences that can be accessed from any device with a web browser. Our WebAR
              solutions cater to businesses to develop their brand & product user experience with augmented and mixed realities.
            </p>
          </div>

          <div class="section-heading">
            <h4>Mixed Reality Development</h4>
            <p>
              IT Futurz helps enterprises & businesses with mixed reality development services for innovative experiences that merge
              the physical and digital world realities. Our team uses advanced AR/VR technologies and techniques to develop 3D digital
              immersive mixed-reality experiences that allow users to interact with virtual objects in real-world environments. We
              ensure that our mixed reality solutions help businesses innovatively demonstrate and represent their products and
              services with emerging and rapidly growing AR/VR technologies.
            </p>
          </div>

          <div class="section-heading">
            <h4>Why Choose IT Futurz for AR/VR development services?</h4>
            <p>
              Choose us for your AR and VR development needs as we combine technical expertise, experiences and latest technologies to
              turn your ideas into innovative experiences. We're committed to delivering innovative solutions by thinking
              strategically to improve your AR/VR experience.
            </p>
          </div>

          <div class="section-heading">
            <h4>CHALLENGES WE SOLVE</h4>

            <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
              <li class="py-1">
                <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                Customized Development
              </li>
              <li class="py-1">
                <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                Blending Multiple Realities
              </li>
              <li class="py-1">
                <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                Seamless Deployment and Integration
              </li>
              <li class="py-1">
                <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                Immersive User Experience
              </li>
              <li class="py-1">
                <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                Streamline Development Process
              </li>
              <li class="py-1">
                <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                Robust and Scalable Platforms
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="integration-section bg-light-subtle pt-5 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="row">
            <div class="col-md-8">
              <h2>IOT Development</h2>
              <p>
                We specialize in Ionic App Development, creating custom and scalable apps that meet our clients' unique business
                requirements. Our Ionic App Development process starts with understanding your business requirements and developing a
                comprehensive project plan. Our team of experienced Ionic developers follows best practices to ensure that your app is
                optimized for performance, user experience, and security.
              </p>
              <a class="custom-text-green" style="cursor: pointer;" (click)="getInTouch()">
                <i>Contact us today to learn more about how we can help you build a high-performance, cross-platform app that meets your
                business requirements.</i>
              </a>
            </div>
            <div class="col-md-4">
              <img src="assets\other-images\e1b0076384ab9737c6dc65d165180d86.gif" alt="" class="w-100">
            </div>
          </div>

          <div class="section-heading pt-4">
            <h4>Why IT Futurz for IoT Development?</h4>
            <p>
              At IT Futurz, we're committed to delivering the highest quality Ionic App Development services to our clients. Contact
              us today to learn more about how we can help you build a high-performance, cross-platform app that meets your business
              requirements.
            </p>
          </div>

          <div class="section-heading">
            <h4>Vast IoT Knowledge</h4>
            <p>
              Large team of expert Ionic developers having years of frontline experience in a multitude of challenging Ionic projects
            </p>
          </div>

          <div class="section-heading">
            <h4>Competitive Pricing</h4>
            <p>
              Highly flexible hiring model to help all kinds of offshore and on-site projects to help you hire ionic app developers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integration-section pt-5 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="row">
            <div class="col-md-7">
              <h2>OTT Platform Development</h2>
              <p>
                We specialize in Ionic App Development, creating custom and scalable apps that meet our clients' unique business
                requirements. Our Ionic App Development process starts with understanding your business requirements and developing a
                comprehensive project plan. Our team of experienced Ionic developers follows best practices to ensure that your app is
                optimized for performance, user experience, and security.
              </p>
              <p>
                At IT Futurz, we're committed to delivering the highest quality Ionic App Development services to our clients.
              </p>
            </div>
            <div class="col-md-5">
              <!-- <img src="/images/services/ott.png" alt="" class="w-100"> -->
              <video 
              autoplay 
              muted 
              loop 
              playsinline
              style="width: 100%; height: auto;"
          >
              <source src="assets\other-images\911LM7RK525LoXVMDo.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>