<section class="error-section ptb-120 bg-light min-vh-100 w-100 d-flex flex-column justify-content-center"
  style="background: url('assets/img/page-header-bg.svg')no-repeat bottom right">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-md-3">
        <div class="error-page-content-wrap">
          <h2 class="error-404 text-warning">404</h2>
          <h1 class="display-5 fw-bold">Page Not Found</h1>
          <p class="lead">Oops! Looks like you've ventured into uncharted territory.</p>
          <a href="/home" class="btn bg-dark text-white mt-4">Go Back Home</a>
        </div>
      </div>
    </div>
  </div>
</section>