<section class="integration-section pt-120 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="row">
            <div class="col-md-7">
              <h2>Digital Transformation/Business Analysis-Consulting</h2>
              <p>
                We can Transform Your Business Digitally
              </p>
              <p>
                Our business analysis and consulting services help identify opportunities, streamline processes, and mitigate risks. We
                specialize in providing insights and solutions that drive business success and growth.
              </p>
              <p>
              Our expertise in requirement elicitation, process modelling, and risk assessment ensures your business operations are
              optimized and aligned with your strategic goals.
              </p>
              <div class="pt-3">
                <h4>BUSINESS ANALYSIS AND CONSULTING CHALLENGES WE SOLVE</h4>

                <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Requirement Clarity
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Process Inefficiencies
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Performance Gaps
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Performance Optimization
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Strategic Planning
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Risk Management
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Business Continuity
                  </li>
                  <li class="py-1">
                    <i class="ri-checkbox-circle-fill me-2 custom-text-green"></i>
                    Maintenance and Updates
                  </li>
                </ul>

                <a class="custom-text-green" style="cursor: pointer;" (click)="getInTouch()">
                  <i>Partner with us to Unlock Powerful Insights and Overcome Business Challenges with Our Expertise</i>
                </a>
              </div>
            </div>
            <div class="col-md-5">
              <!-- <img src="/images/services/business.webp" alt="" class="w-100"> -->
              <video 
              autoplay 
              muted 
              loop 
              playsinline
              style="width: 100%; height: auto;"
          >
              <source src="assets\other-images\Q9D9A385l42443eyWs.mp4" type="video/mp4">
              Your browser does not support the video tag.
          </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>