:host {
  display: block;
}

@keyframes pointAnimation {
  0%, 100% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(10px) rotate(10deg);
  }
}

/* Apply animation to the hand emoji */
.pointing-hand {
  display: inline-block;
  animation: pointAnimation 1s infinite ease-in-out;
}

.mission-card{
  background: rgba(255, 212, 133, 0.632);
}

.card-icon{
  font-size: 2rem;
}

.courses-card{
  cursor: pointer;
}


.courses-card .card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.courses-card .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animated-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(360deg, transparent, #ffffff67, transparent);
  animation: border-animation 4s linear infinite;
}

@keyframes border-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}