<section class=" pb-5 pt-120">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="fw-bold display-5 mt-5">Hi, I am Arpit Shah!</h1>
        <div style="font-size: 18px;">
          <div style="font-weight: 600;">Founder</div>
          <div>(MCA, M.Sc.-IT Gold Medalist)</div>
        </div>
        <p class="mt-2">
          With over 17+ years of experience, I've worked closely with entrepreneurs, helping them turn their
          visions into reality.
          My commitment to tailored digital solutions has earned a reputation for driving growth and
          profitability.
        </p>
        <p>I'm an Entrepreneur and Startup Strategist with a diverse background in multiple ventures.</p>
        <p>I'm also involved with esteemed organizations like BNI and Progress Alliance, SVVP-Surat, fostering
          collaborative
          partnerships and staying updated on industry trends.</p>
      </div>
      <div class="col-md-6 pt-5">
        <img src="images/profile.jpeg" class="rounded-custom mt-5 w-100 shadow">
      </div>
    </div>
  </div>
</section>


<section class="feature-section-two py-5 bg-light-subtle">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class=" col-md-12">
        <div class="section-heading">
          <h2>What we do...</h2>
          <p>
            IT FUTURZ was founded by Mr. Arpit Shah in the year 2015 and funded by Mr. Sandip Maheshwari (Global Motivational
            Speaker) for winning the Revolution INDIA program.
          </p>
          <p>We specialize in delivering cutting-edge digital solutions, including software development, mobile apps,
            websites, and
            vital tools like ERP, CRM, and SCM to fuel entrepreneurial success.
            If you're seeking innovative strategies and digital solutions to elevate your startup or business, let's
            connect.
            Together, we'll embark on a journey to success.</p>
          <p>
            Through temporary/contract hiring we provide diverse resources from INDIA to deliver exceptional results for
            your
            projects. By streamlining skill acquisition and enhancing productivity, we enable businesses to thrive
            without the
            burdens of lengthy recruitment processes and excessive training costs.
          </p>
          <p>
            We also have products like NFC Business Card, Google Review Card, Google Standee, Fotoowl for photo
            selection through
            AI, Facebook and Instagram Card.
          </p>
          <p>
            The company is associated with BNI, Western Indian Railways, Progress Club, JCI, Landmark-coach for life.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="brand-logo py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10">
        <div class="section-heading text-center">
          <h2>Accomplishments</h2>
          <p>Our Achievements</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-2 offset-md-2 text-center">
        <h6 class="fw-bold display-5 custom-text-green mb-4">150+</h6>
        <h3 class="h5">Projects</h3>
      </div>
      <div class="col-md-2 text-center">
        <h6 class="fw-bold display-5 custom-text-green mb-4">17+</h6>
        <h3 class="h5">Experience</h3>
      </div>
      <div class="col-md-2 text-center">
        <h6 class="fw-bold display-5 custom-text-green mb-4">100+</h6>
        <h3 class="h5">Satisfied Clients</h3>
      </div>
      <div class="col-md-2 text-center">
        <h6 class="fw-bold display-5 custom-text-green mb-4">15+</h6>
        <h3 class="h5">Experts Team</h3>
      </div>
    </div>
  </div>
</section>