// .background{
//   background-image: url('/images/blur_back.png');
//   background-repeat: no-repeat;
//   background-size: auto;
//   background-position: center;
// }

.background {
  background-image: url('/images/whatlearn.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}