// .background{
//   background-image: url('/images/blur_back.png');
//   background-repeat: no-repeat;
//   background-size: auto;
//   background-position: center;
// }

.background {
  background-image: url('/images/whatlearn.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

@keyframes pointAnimation {
  0%, 100% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(10px) rotate(10deg);
  }
}

/* Apply animation to the hand emoji */
.pointing-hand {
  display: inline-block;
  animation: pointAnimation 1s infinite ease-in-out;
}